<h1>BEM-VINDO À REDE SOCIAL!</h1>

 <% if user_signed_in? %>
         
         <p>
           <b>Avatar:</b>
           <%= image_tag current_user.avatar.url(:thumb) %>
         </p>
         

         Cidade:  <strong><%= current_user.city %></strong><br> 
         Estado:  <strong><%= current_user.state %></strong><br>
         País:  <strong><%= current_user.country %></strong>

            <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

        <% else %>
        Oi sumido, rs
<% end %>